<h1 style="text-align: center">SIGN IN</h1>
<form [formGroup]="SignInForm" (ngSubmit)="onSubmit($event)">
  <div class="container">
    <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-hint *ngIf="SignInForm.controls.email.touched  && SignInForm.controls.email.errors">required</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password" />
      <mat-hint *ngIf="SignInForm.controls.password.touched  && SignInForm.controls.password.errors">required</mat-hint>
    </mat-form-field>
</mat-dialog-content><br>
    <button mat-button mat-dialog-close [disabled]="!SignInForm.valid" type="submit">SIGN IN</button>
    <button mat-button mat-dialog-close>CANCEL</button>
  </div>
</form>
